/**/node_modules
/**/.vscode
/**/scratch
/**/.vs
.hidden
.metadata/
snowsql_rt.log
snowsql_rt.log_bootstrap
/**/.ipynb_checkpoints/
/**/bin/
/**/build/
/**/dist/
/**/COMBINED/
/**/COMBINED_UDF/
/**/OUTPUT/
/**/local.settings.*
/**/Properties/
/**/LOCAL_TEST/
